* {
  box-sizing: border-box;
}

#screen {
  width: 300px;
  height: 300px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  user-select: none;
}

#screen.waiting {
  background-color: aquamarine;
}

#screen.ready {
  background-color: orange;
}

#screen.now {
  background-color: greenyellow;
}
